### Set up PySpark

In [54]:
import os
import sys

spark_path = "C:/stack/spark-1.6.2-bin-hadoop2.6"

os.environ['SPARK_HOME'] = spark_path
os.environ['HADOOP_HOME'] = spark_path

sys.path.append(spark_path + "/bin")
sys.path.append(spark_path + "/python")
sys.path.append(spark_path + "/python/pyspark/")
sys.path.append(spark_path + "/python/lib")
sys.path.append(spark_path + "/python/lib/pyspark.zip")
sys.path.append(spark_path + "/python/lib/py4j-0.9-src.zip")

from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import SQLContext

sc = SparkContext("local", "test")
sqlCtx = SQLContext(sc)

### Test pyspark setup

In [55]:
sc
sqlCtx

### Pandas

In [56]:
import pandas as pds
pdf = pds.read_csv("data/adult.csv")
print(type(pdf))
pdf.head(5)

<class 'pandas.core.frame.DataFrame'>

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### convert to spark dataframe

In [59]:
sqlCtx.createDataFrame(pdf).show

<bound method DataFrame.show of DataFrame[age: bigint, workclass: string, fnlwgt: bigint, education: string, education-num: bigint, marital-status: string, occupation: string, relationship: string, race: string, sex: string, capital-gain: bigint, capital-loss: bigint, hours-per-week: bigint, native-country: string, income: string]>

In [58]:
sdf = sqlCtx.createDataFrame(pdf)

### machine learning

<class 'pandas.core.frame.DataFrame'>

### stop cluster

In [60]:
sc.stop()