In [1]:
import os
import sys

spark_path = "/Users/weizhong/stk/spark-1.6.0-bin-hadoop2.6"

os.environ['SPARK_HOME'] = spark_path
os.environ['HADOOP_HOME'] = spark_path
#os.environ['PYSPARK_PYTHON'] = 'C:\Users\Wei Zhong\Anaconda3\envs\python2\python' # <---

sys.path.append(spark_path + "/bin")
sys.path.append(spark_path + "/python")
sys.path.append(spark_path + "/python/pyspark/")
sys.path.append(spark_path + "/python/lib")
sys.path.append(spark_path + "/python/lib/pyspark.zip")
sys.path.append(spark_path + "/python/lib/py4j-0.9-src.zip")

from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import SQLContext
from pyspark.sql.types import *

sc = SparkContext("local")
sqlCtx = SQLContext(sc)

In [32]:
# Generate Random Data
import itertools
import random
student_ids = ['student1', 'student2', 'student3']
subjects = ['Math', 'Biology', 'Chemistry', 'Physics']
random.seed(1)
data = []
 
for (student_id, subject) in itertools.product(student_ids, subjects):
    data.append((student_id, subject, random.randint(0, 100)))

from pyspark.sql.types import StructType, StructField, IntegerType, StringType
schema = StructType([
            StructField("student_id", StringType(), nullable=False),
            StructField("subject", StringType(), nullable=False),
            StructField("score", IntegerType(), nullable=False)
    ])
 
# Create DataFrame 
#from pyspark.sql import HiveContext
#sqlContext = HiveContext(sc)
rdd = sc.parallelize(data)
df = sqlCtx.createDataFrame(rdd, schema)

# create another dataframe
first_name = ["Granger", "Weasley", "Potter"]
data2 = []
for i in range(len(student_ids)):
    data2.append((student_ids[i], first_name[i]))

schema = StructType([
            StructField("student_id", StringType(), nullable=False),
            StructField("first_name", StringType(), nullable=False)
    ])

rdd = sc.parallelize(data2)
df2 = sqlCtx.createDataFrame(rdd, schema)

In [33]:
df2.show()
df.show()

+----------+----------+
|student_id|first_name|
+----------+----------+
|  student1|   Granger|
|  student2|   Weasley|
|  student3|    Potter|
+----------+----------+

+----------+---------+-----+
|student_id|  subject|score|
+----------+---------+-----+
|  student1|     Math|   13|
|  student1|  Biology|   85|
|  student1|Chemistry|   77|
|  student1|  Physics|   25|
|  student2|     Math|   50|
|  student2|  Biology|   45|
|  student2|Chemistry|   65|
|  student2|  Physics|   79|
|  student3|     Math|    9|
|  student3|  Biology|    2|
|  student3|Chemistry|   84|
|  student3|  Physics|   43|
+----------+---------+-----+

In [26]:
print len(student_id)

print student_ids[0]

8
student1